
notebook/notebook 1/.ipynb_checkpoints/8780205_notebook1-checkpoint.ipynb
notebook/notebook 1/.ipynb_checkpoints/CSI4506-RechercheDeSolutions_Automne19-checkpoint.ipynb
notebook/notebook 1/8780205_notebook1.ipynb
notebook/notebook 1/Tree2.png
notebook/notebook 2/.ipynb_checkpoints/8780205_notebook2-checkpoint.ipynb
notebook/notebook 2/8780205_notebook2.ipynb
notebook/notebook 3/.ipynb_checkpoints/2019-CSI4506-Apprentissage-Supervise-Automne-checkpoint.ipynb
notebook/notebook 3/negative-words.txt
notebook/notebook 3/8780205_Notebook3.ipynb
notebook/notebook 3/positive-words.txt
notebook/notebook 2/coord.txt
notebook/notebook 3/rt_reviews.csv
notebook/notebook 4/diabetic_data.csv
notebook/notebook 5/.ipynb_checkpoints/8780205_notebook_5-checkpoint.ipynb
notebook/notebook 5/8780205_notebook_5.ipynb
notebook/notebook 1/Tree3.png
notebook/notebook 4/8780205_notebook4.ipynb
notebook/notebook 4/.ipynb_checkpoints/CSI4506-MLP_Automne19-checkpoint.ipynb
notebook/notebook 5/.ipynb_checkpoints/CSI4506-NLP-Pipeline-Automne2019-checkpoint.ipynb
notebook/notebook 5/CSI4106_Notebook5_corenlp.PNG
notebook/notebook 5/rt_reviews.csv
notebook/notebook 1/Tree1.png
notebook/notebook 2/.ipynb_checkpoints/CSI4506-RecuitSimulé_Automne19-checkpoint.ipynb
